body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}


@media (max-width: 700px){      
    header {
    flex-direction: column;
    gap: 8px;
    padding: 32px;
    }
}

@media (max-width: 700px){  
    main {
    flex-direction: column;
    }
}

main {
    display: block;
    padding: 32px 16px;
    margin-top: 64px;
    gap: 32px;
}

header, main {
    
    margin: auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 32px 16px;
    color: white;
    background-color: black;
}
nav ul{
   list-style: none;
   display:flex;
   gap: 20px;
   color: white;
   margin: 0;
   padding: 0;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    
}

header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    color: navajowhite;
    
}

nav {
    display: flex;
}

footer {
    background-color: black;
    padding: 30px;
    justify-content: center;
    display: grid;
}

footer p{
    font-size: 10pt;
    color: white;
    
}
footer a {
    text-decoration: none;
    color: white;
    
    
}
footer a:hover {
    color: navajowhite;
    }

section {
    padding-bottom: 300px;
    display: block;
    text-align: center;
}